node_modules/
**/node_modules/
dist/
**/dist/
dist-electron/
**/dist-electron/
dist-renderer/
**/dist-renderer/
**/dist-release/*.exe
**/dist-release/*.yaml
**/dist-release/*.yml
**/dist-release/*.blockmap
**/dist-release/win-unpacked/
!**/dist-release/SHA256SUMS*.txt
coverage/
**/coverage/
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
scratch/
